body{
    background: rgb(43, 45, 70);
}
h1{
    font-family: Arial;
    font-size: xx-large;
    margin: 10px;
    color: white;
}
.Menu{
    position: sticky;
    top: 0;/* La propiedad sticky y top nos ayuda a posicional el menú al principio
              de manera que cuando hago scroll el menú no desaparesca*/
    background: rgb(0, 0, 0);
    padding: 10px;
}
.Menu a{
    margin: 5%;
    color:white;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: #E9DD56;
    font-size: x-large;
    padding: 20px;
    display: flex;
}
footer p {
    padding-left: 50px;
}

