article {
    background: rgba(12,12,30, 0.9);
    margin: 10px;
    padding: 10px;

}


    article div ul{
        color:rgb(255, 255, 255); 
    }
    article div ul li img{
        width: 500px; 
        height: 300px;
        
    }
    article div ul h4{
        font-size: x-large;
        font-family: serif;
        color: rgb(244, 177, 59);
        }

.boton_regreso{
    background: hsl(204, 60%, 27%);
    border: blue;
    border-radius: 60px 60px;
    height: 50px;
    width: 115px;
    font-size: 20px;
    font-style: inherit;
}
article button a{
    color: #e9df56;
}
